body{
	margin: 0px;
	padding: 0;
	background-image: url(../images/background.jpg);
	background-size: 100%;
}
.div1
{
	color: white;
	background-color: black;
	padding: 30px;
	opacity: 0.80;
	filter: alpha(opacity=80);
	width: 700px;
	height: 280px;
	margin-left: 420px;
	margin-top: 150px;
	border-radius: 20px;
	
	
    
}
.header{
	color: white;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 55px;
	margin-left: 65px;
	margin-top: -20px;
}
.div1 input[type="text"]
{
	color: white;
	height: 27px;
	width: 300px;
	margin-left: 180px;
	margin-top: -50px;
	border: none;
	border-bottom:2px solid #fff;
	background: transparent;
	outline: none;
	padding: 15px;
	font-size: 20px; 
	font-family: "Comic Sans MS", cursive, sans-serif;
}
.button{
	font-weight: bold;
	height: 40px;
	width: 300px;
	background-color: teal;
	margin-left: 200px;
	border-radius: 20px;
	padding: 12px;
	font-size: 20px;
	font-family: serif;
	font color: white;
	padding-bottom: 30px;
}
.div1 p{
	font-family: "Comic Sans MS", cursive, sans-serif;
	font color: white;
	font-size: 20px;
	margin-top: -30px;
}
.button:hover{
	background-color:aqua;
	
}